<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Products List</h1>
</div>
<div class="wrapper-md">

 <tabset class="tab-container" ng-init="steps={step1:true, step2:false, step3:false, step4:false, step5:false}">  
    <tab heading="All Products" active="steps.step1">    
      <div class="table-responsive" id="step1" name="step1">
        <div class="row wrapper">
          <div class="col-sm-4 m-b-xs">
            <label>Select Category</label>
            <select class="input-sm form-control w-sm inline v-middle" ng-model="chooseCategory" ng-init='chooseCategory=""' ng-change="getProductByCat(chooseCategory)">
              <option value="">Choose Category</option>
              <option value="Home & Decoration">Home & Decoration</option>
              <option value="Fashion">Fashion</option>
              <option value="Lifestyle Bags">Lifestyle Bags</option>
              <option value="Sneakers">Sneakers</option>
              <option value="Shoes">Shoes</option>  
              <!-- <option value="">All</option> -->           
            </select>                        
          </div>
          <div class="col-sm-4">
            <label>Select Brand</label>
            <select class="input-sm form-control w-sm inline v-middle" ng-model="chooseBrand" ng-init='chooseBrand=""' ng-change="getProductByBrand(chooseBrand)">
              <option value="">Choose Brand</option>
              <option value="Kikkerland">Kikkerland</option>
              <option value="BAGGU">BAGGU</option>
              <option value="Herschel & Supply">Herschel & Supply</option>
              <option value="TOMs Shoes">TOMs Shoes</option>                                       
            </select>            
          </div>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="input-sm col-sm-offset-4 form-control" placeholder="Search" ng-model="query">  
            </div>
          </div>
        </div>
        <!-- list -->
        <ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs">
          <li ng-repeat="product in productlists | filter:query | filter:filtersbrand | filter:filterscat" ng-class="labelClass(mail.label)" class="list-group-item clearfix b-l-3x">
            <a ui-sref="app.page.profile" class="avatar thumb pull-left m-r">
              <img ng-src="img/{{product.image}}">
            </a>
            <div class="pull-right text-sm text-muted">
              <span class="hidden-xs">{{ product.date | date:"dd-MMM-YY" }}</span>              
            </div>
            <div class="clear col-sm-offset-1">
              <div><a ui-sref="app.products.detail({productId:product.id})" ng-click="getProductById($index)" class="text-md">{{product.name}}</a><span class="label bg-light m-l-sm">{{product.sku}}</span></div>
              <div class="text-ellipsis m-t-xs">{{product.description | limitTo:120}}</div>
            </div>      
          </li>
        </ul>
        <!-- / list -->
      </div>
    </tab>
    <tab heading="Discontinued Products" active="steps.step2">
      <div class="table-responsive" id="step2" name="step2">
        <table ui-jq="dataTable" ui-options="{
            sAjaxSource: 'js/jquery/datatables/datatable.json',
            aoColumns: [
              { mData: 'engine' },
              { mData: 'browser' },
              { mData: 'platform' },
              { mData: 'version' },
              { mData: 'grade' }
            ]
          }" class="table table-striped m-b-none">
          <thead>
            <tr>
              <th  style="width:20%">Product Image</th>
              <th  style="width:25%">Name</th>
              <th  style="width:25%">Description</th>
              <th  style="width:15%">Price</th>
              <th  style="width:15%">Date of production</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </tab>
    <tab heading="Sale Products" active="steps.step3">
      <div class="table-responsive" id="step3" name="step3">
        <table ui-jq="dataTable" ui-options="{
            sAjaxSource: 'js/jquery/datatables/datatable.json',
            aoColumns: [
              { mData: 'engine' },
              { mData: 'browser' },
              { mData: 'platform' },
              { mData: 'version' },
              { mData: 'grade' }
            ]
          }" class="table table-striped m-b-none">
          <thead>
            <tr>
              <th  style="width:20%">Product Image</th>
              <th  style="width:25%">Name</th>
              <th  style="width:25%">Description</th>
              <th  style="width:15%">Price</th>
              <th  style="width:15%">Date of production</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </tab>
    <tab heading="Latest Products" active="steps.step4">
      <div class="table-responsive" id="step4" name="step4">
        <table ui-jq="dataTable" ui-options="{
            sAjaxSource: 'js/jquery/datatables/datatable.json',
            aoColumns: [
              { mData: 'engine' },
              { mData: 'browser' },
              { mData: 'platform' },
              { mData: 'version' },
              { mData: 'grade' }
            ]
          }" class="table table-striped m-b-none">
          <thead>
            <tr>
              <th  style="width:20%">Product Image</th>
              <th  style="width:25%">Name</th>
              <th  style="width:25%">Description</th>
              <th  style="width:15%">Price</th>
              <th  style="width:15%">Date of production</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </tab>
    <tab heading="Price Changed Products" active="steps.step5">
      <div class="table-responsive" id="step5" name="step5">
        <table ui-jq="dataTable" ui-options="{
            sAjaxSource: 'js/jquery/datatables/datatable.json',
            aoColumns: [
              { mData: 'engine' },
              { mData: 'browser' },
              { mData: 'platform' },
              { mData: 'version' },
              { mData: 'grade' }
            ]
          }" class="table table-striped m-b-none">
          <thead>
            <tr>
              <th  style="width:20%">Product Image</th>
              <th  style="width:25%">Name</th>
              <th  style="width:25%">Description</th>
              <th  style="width:15%">Price</th>
              <th  style="width:15%">Date of production</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </tab>
  </tabset>

</div>