<div ng-controller="ProductDetailCtrl">
  <!-- header -->
  <div class="wrapper bg-light lter b-b">
    <a ui-sref="app.products.allproducts" class="btn btn-sm btn-default w-xxs m-r-sm" tooltip="Back to All Products"><i class="fa fa-long-arrow-left"></i></a> 
  
    <div class="btn-group dropdown">
      <button class="btn btn-sm btn-default w-xxs w-auto-xs dropdown-toggle" tooltip="Move to"><i class="fa fa-fw fa-folder"></i> <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li ng-repeat="step in steps">
          <a href>
            <i class="fa fa-fw fa-circle text-muted text-xs"></i>
            {{step.value}}
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- / header -->
  <div ng-repeat="productDetail in productlists| filter:{id:filteredid}">
    <div class="wrapper b-b">
      <img ng-src="img/{{productDetail.image}}" class="img-circle thumb-xs m-r-sm app-aside"><h2 class="m-n">{{productDetail.name}}</h2>
    </div>
    <div class="panel panel-default m-t">
      <div class="panel-heading productlist-heading">
        Product Details
      </div> 
      <table class="table table-striped m-b-none" cellspacing="0">
        <tbody>        
          <tr class="">
            <td>SKU</td>
            <td>{{productDetail.sku}}</td>
          </tr>
          <tr class="">
            <td>Barcode</td>
            <td>{{productDetail.barcode}}</td>
          </tr>
          <tr class="">
            <td>Retail Price</td>
            <td>{{productDetail.retail_price}}</td>
          </tr>
          <tr class="">
            <td>Wholesale Price</td>
            <td>{{productDetail.wholesale_price}}</td>
          </tr>
          <tr class="">
            <td>Inner Quantity</td>
            <td>{{productDetail.innr_qty}}</td>
          </tr>
          <tr class="">
            <td>Outer Quantity</td>
            <td>{{productDetail.outr_qty}}</td>
          </tr>
          <tr class="">
            <td>Stock Quantity</td>
            <td>{{productDetail.stock_qty}}</td>
          </tr>
          <tr class="">
            <td>Warehouse Location</td>
            <td>{{productDetail.warehouse_loc}}</td>
          </tr>
          <tr class="">
            <td>Cost</td>
            <td>{{productDetail.cost}}</td>
          </tr>
          <tr class="">
            <td>Cost Updated Date</td>
            <td>{{productDetail.cost_update_date}}</td>
          </tr>
          <tr class="">
            <td>Expected Time Arrival</td>
            <td>{{productDetail.eta}}</td>
          </tr>
          <tr class="">
            <td>Weight</td>
            <td>{{productDetail.weight}}</td>
          </tr>
          <tr class="">
            <td>Dimensions</td>
            <td>{{productDetail.dimensions}}</td>
          </tr>
          <tr class="">
            <td>Box Dimensions</td>
            <td>{{productDetail.box_dimensions}}</td>
          </tr>
          <tr class="">
            <td>Discription</td>
            <td>{{productDetail.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>  
</div>