<div class="col-sm-6 col-sm-offset-3">
<div class="container w-auto w-auto-xs" ng-controller="SignupFormController">
  <a href class="navbar-brand block">{{app.name}}</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong>Sign up to find interesting thing</strong>
    </div>
     
     <form data-wizard="{finishButton: true, titleClick: true, block: true, validate: true}" id="basicwizard">
        <fieldset title="Step 1">
        <legend>Company Info</legend>
            <div class="list-group list-group-sm">
              <div class="list-group-item">
                <input type="text" placeholder="Company Name" class="form-control no-border" ng-model="company.name" required>
              </div>
              <div class="list-group-item">
                <input type="text" placeholder="Trademark Name" class="form-control no-border" ng-model="company.trademark" required>
              </div>
              <div class="list-group-item">
                <input type="text" placeholder="City" class="form-control no-border" ng-model="company.city" required>
              </div>
              <div class="list-group-item">
                <input type="url" placeholder="Website" class="form-control no-border" ng-model="company.website" required>
              </div>
              <div class="list-group-item">
                 <input type="text" placeholder="Invoicing Address" class="form-control no-border" ng-model="company.invoicingaddr" required>
              </div>
              <div class="list-group-item">
                <input type="text" placeholder="Tax Office" class="form-control no-border" ng-model="company.taxoffice" required > 
              </div>
              <div class="list-group-item">
                <input type="number" placeholder="Tax No" class="form-control no-border" ng-model="company.taxno" required>
              </div>
              <div class="list-group-item">
                <input type="text" placeholder="Name CoC" class="form-control no-border" ng-model="company.coc" required>
              </div>
              <div class="list-group-item">
                 <input type="number" placeholder="Registration Number CoC" class="form-control no-border" ng-model="company.registnumbercoc" required>
              </div>
              <div class="list-group-item">
                <select class="form-control inline v-middle" ng-model="company.activity" ng-init='company.activity=""' required>
                  <option value="">Field of Activity</option>
                  <option value="Home & Decoration">Home & Decoration</option>
                  <option value="Fashion">Fashion</option>
                </select>      
              </div>
            </div>          
            </fieldset>
            <fieldset title="Step 2">
            <legend>User Info</legend>
            <div class="list-group list-group-sm">
              <div class="list-group-item">
                <input placeholder="Full Name" class="form-control no-border" ng-model="company.username" required>
              </div>
              <div class="list-group-item">
                <input placeholder="Title" class="form-control no-border" ng-model="company.Title" required>
              </div>
              <div class="list-group-item">
                <input type="number" placeholder="Mobile Phone Number" class="form-control no-border" ng-model="company.mobileno" ng-maxlength="10" required>
              </div>
              <div class="list-group-item">
                <input type="number" placeholder="Work Phone / Ext" class="form-control no-border" ng-model="company.workno" ng-maxlength="10" required>
              </div>
            </div> 
            </fieldset>
            <fieldset title="Step 3">
            <legend>Login Info</legend>
            <div class="list-group list-group-sm">              
              <div class="list-group-item">
                <input type="email" placeholder="Email" class="form-control no-border" name="email" ng-model="company.email" required>
              </div>
              <div class="list-group-item">
                 <input type="password" placeholder="Password" class="form-control no-border" name="password" ng-model="company.password" ng-minlength="6" required>
                 <span class="danger" ng-show='step3.password.$error.minlength'>Minimum 6 digits is required!</span>
              </div>
              <div class="list-group-item">
                <input type="password" placeholder="Confirm Password" class="form-control no-border" name="cpassword" ng-model="company.cpassword" required ui-validate=" '$value==company.password' " ui-validate-watch=" 'password' " ng-minlength="6">
                <span class="danger" ng-show='step3.cpassword.$error.validator'>Passwords do not match!</span>
              </div>
            </div> 
          </fieldset>
          <input type="button" class="stepy-finish btn btn-default btn-primary btn-block" value="Finish" />
        </form>
      <div class="line line-dashed"></div>
      <p class="text-center"><small>Already have an account?</small></p>
      <a ui-sref="signin" class="btn btn-lg btn-default btn-block">Sign in</a>
  </div>
  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'"></div>
</div>
</div>